<footer class="site-footer">
    <div class="alta">
        {%- include menu-social.html -%}
    </div>
    <div class="bassa">
        <div class="box contatti">
          <h3 id="ragione-sociale">
              <img id="logo-footer" src="/assets/img/logo-bianco-verde.svg" alt="{{ t.azienda }}">
          </h3>
          <p id="indirizzo-1">
              {{ t.contatti.indirizzo}} &nbsp;-&nbsp;
              {{ t.contatti.cap}}       &nbsp;-&nbsp;
              {{ t.contatti.citta }} ({{ t.contatti.provincia}}) &nbsp;-&nbsp;
              {{ t.contatti.nazione}}
          </p>
          <!--
          <p id="iva-cv">
              <label>{{ t.s_partita_iva}}</label>{{ t.partita_iva }}
          </p>
          <p id="pec">
               <label>{{ t.s_pec}}</label>{{ t.pec }}
          </p>
          -->
          <p id="e-mail">
              <a href="mailto:{{ t.e_mail}}?Subject={{ t.info_subject}}">{{ t.e_mail}}</a>
          </p>
        </div>
        <div class="box menu">
            <nav id="menu-footer">
                <a href="{{ t.privacy.href }}">{{ t.privacy.label }}</a>
            </nav>
        </div>
    </div>
</footer>
