<section id="contatti">
    <div class="corpo">
        <header>
            <h2>Parla con un nostro consulente</h2>
            <p class="intro">
                Ti aiuteremo a capire quali competenze attivare e quale percorso può essere più adatto alla tua impresa.
            </p>
        </header>

        <div class="form">
            <p>Di cosa hai bisogno?</p>

            <div class="wrapper">
                <div class="cosa">
                    <div>
                        <h4>Primo Passo</h4>
                        <p>Sto avviando un'impresa</p>
                    </div>
                    <img src="{{ '/assets/img/contatti-1.png' | relative_url }}" alt="">
                </div>
                <div class="cosa">
                    <div>
                        <h4>Spalla</h4>
                        <p>Cerco un supporto continuativo</p>
                    </div>
                    <img src="{{ '/assets/img/contatti-2.png' | relative_url }}" alt="">
                </div>
                <div class="cosa">
                    <div>
                        <h4>Come stai?</h4>
                        <p>Voglio capire come sta la mia azienda</p>
                    </div>
                    <img src="{{ '/assets/img/contatti-3.png' | relative_url }}" alt="">
                </div>
                <div class="cosa">
                    <div>
                        <h4>Essenziale</h4>
                        <p>Ho bisogno di un percorso su misura</p>
                    </div>
                    <img src="{{ '/assets/img/contatti-4.png' | relative_url }}" alt="">
                </div>
                <div class="cosa">
                    <div>
                        <h4>Altro</h4>
                        <p>La tua esigenza è diversa? Raccontacela.</p>
                    </div>
                    <img src="{{ '/assets/img/contatti-5.png' | relative_url }}" alt="">
                </div>
            </div>

            <form>
                <h3>Raccontaci di te</h3>

                <div class="campi">
                    <input id="nome"    name="nome"    placeholder="Nome*" required>
                    <input id="cognome" name="cognome" placeholder="Cognome*" required>
                    <input id="e-mail"  name="e-mail"  type="email" placeholder="E-mail*" required>
                    <input id="azienda" name="azienda" placeholder="Azienda*" required>
                </div>

                <textarea id="messaggio" name="messaggio" placeholder="In poche righe, da dove vorresti partire..."></textarea>

                <div class="consenso">
                    <input type="checkbox" id="privacy" name="privacy" required>
                    <label for="privacy">Per presa visione dell'informativa specificata a questo link (*)</label>
                </div>

                <div class="azioni">
                    <button type="submit">Invia richiesta</button>
                    <p id="urgente">Hai una questione urgente? Scrivici su
                        <a href="{{ menu_5_url }}" target="wa" title="Scrivici su Whatsapp">Whatsapp</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
