$backgroundColor: #ffffff;
$bodyColor:       #333333;
$bodyFont:        "Bevellier-Regular";
$fontSize:        14pt;

$headerBgColor:   #8383E5;
$headerColor:     #ffffff;
$headerHeight:    120px;

$menuBgColor:     #71CC98;
$menuColor:       #ffffff;

$footerBgColor:   #71CC98;
$footerColor:     #ffffff;
$footerHeight:    auto;

$sectionHeight:   calc(100vh - 120px);
$sectionVPadding: 40px;
$asideHeight:     calc(100vh - 120px - (2 * 40px));
$phi:             1.6180339887498948482;
$bluette:         #02b8df;
$headerColor:     #ffffff;
$linkColor:       #ffffff;

$viola:           #8383E5;
$verde:           #71CC98;
$neutro:          #ededed;
$lilla:           #D6BDFF;
$indaco:          #B29AFF;
