
@import "lexgera";
@import url('bevellier.css');

:root{

    --phi: 1.618;

    --header-height: 160px;
    --footer-height: 280px;

    --main-h: 61.8dvh;
    --hf-h: 38.2dvh;

    /* proporzione interna header/footer (2:1) */
    --header-h: calc(var(--hf-h) * 1);
    --footer-h: calc(var(--hf-h) * 0.5);
}

.nero {
    color: #000000 !important;
}

* {
                margin: 0;
               padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

A {
    color: $linkColor;
}
LABEL {
    font-weight: bold;
}
LABEL:after {
    content: ":";
    margin-right: 4px;
}
NAV A {
    display: inline-block;
    text-decoration: none;
}

BLOCKQUOTE {
    padding: 1rem;
}
HTML {
    font-size:    $fontSize;
}

BODY {
    background:   $backgroundColor;
    color:        $bodyColor;
    font-family:  $bodyFont;
    font-style:   normal;
    font-size:    $fontSize;
    text-align:   left;
    width:        100%;
}

BODY {
    background:$backgroundColor;
    height: 100dvh;
    margin: 0;
}

BODY MAIN.privacy {
    width: 61%;
    min-width: 360px;
    max-width: 630px;
    color: $bodyColor;
    background: $neutro;
    border-radius: 30px;
    padding: 60px 30px;
    text-align: justify;
}

BODY HEADER {
    height: auto;
    background: $headerBgColor;
    color: $headerColor;
    padding: 15px 144px;
}

#logo-header {
    width:  134px;
    height: 40px;
    display: block;
    margin:  0;
}

#site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo {
    display: flex;
    align-items: center;
}

#logo-header {
    display: block;
}

#menu-top {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a#menu-4 {
    background-color: $verde;
    display: inline-block;
    border-radius: 88px;
    padding: 8px 18px;
}

SECTION#hero {
    background-color: $viola;
    color:  $headerColor;
    display: block;
    height: 711px;
    padding: 100px 144px;
}

SECTION#hero H1 {
    font-size: 85px;
}
SECTION#hero DIV.testi P {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 50px;
}
SECTION#hero DIV.testi A#scopri {
    padding: 15px 25px;
    border-radius: 88px;
    border: 1px solid var(--bianco, #FFF);
}
/*
BODY HEADER DIV#logo {
    width: auto;
    display: inline-block;
}
BODY HEADER DIV#menu {
    width: auto;
    display: inline-block;
}

#claim {
    font-size: 24px;
    line-height: 140%;
}
#parlaci {
    display: inline-block;
    background: $verde;
    line-height: 40px;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 60px auto;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

DIV.card {
    background: $neutro;
    color: #000000;
    text-align: left;
    width: 300px;
    height: 300px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    gap: 10px;
    font-size: 0.9rem;
}

DIV.card IMG {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

DIV.card H3 {
    font-size: 0.9rem;
    margin: 0;
}

*/
