{% assign lang = page.lang | default: site.lang | default: 'it' %}
{% assign t = site.data.testi[lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'it' }}">
{%- include head.html -%}
<body id="index">
    {%- include header.html -%}
    <main>
        {%- include sezione-1-hero.html       -%}
        {%- include sezione-2-servizi.html    -%}
        {%- include sezione-3-soluzioni.html  -%}
        {%- include sezione-4-modello.html    -%}
        {%- include sezione-5-chi-siamo.html  -%}
        {%- include sezione-6-contatti.html   -%}
    </main>
    {%- include footer.html -%}
</body>
</html>
